extends layout

block title
  | Thunder Campaign - Crowdfunding Intelligence

//-block links

block app
  #app
    section.page.page-texture#landing
      .container
        header
          .pull-left
            img.logo(src='/static/img/thunder-logo-white.png')
          .pull-right
            ul#menu
              li: a(href='#discover') Discover More
              //-li: a(href='#preview') Get a Preview
              li: a(href='#meet') Meet the team
              li: button.pure-button.signup
                span Signup


        a#scrolldown(href='#discover')
          span Scroll Down
          i.icon-down-open-big
          i.icon-down-open-big

        
        #claim.fixed-container.text-center
          .spacer-100.to-hide-mobile
          h1
            | Successful 
            strong crowdfunding 
            | with 
            strong Big Data
          .spacer-20
          h2
            | Improve your crowdfunding campaign by using our 
            br.to-hide-mobile
            strong big data analysis 
            | and stats of thousands of successful campaigns
          .spacer-20
          .spacer-20.to-hide-mobile
          p
            button.pure-button.pure-button-rounded.signup
              i.icon-vcard
              span Signup
            span.spacer-10.to-show-mobile
            small &nbsp;&nbsp;&nbsp;or&nbsp;&nbsp;&nbsp;
            span.spacer-10.to-show-mobile
            a.link(href='#discover')
              span See what you get 
              span.to-hide-mobile with Thunder Campaign 
              span »
          .spacer-100
          .spacer-50.to-hide-mobile

    section.page.page-white#dashboard
      .preview.text-center
        #discover &nbsp;
        img(src='/static/img/dashboard-preview-stats.png')
      .spacer-100

    section.page.page-texture#recall
      .container
        .text-center
          p
            button.pure-button.pure-button-rounded.signup
              i.icon-vcard
              span Signup
            span.spacer-20.to-show-mobile
            span &nbsp;&nbsp;&nbsp;to get a preview of Thunder Campaign
            //-
              span to keep updated! 
              br.to-show-mobile
              span We will notify you at the launch of the Beta

    section.page.page-white#meet
      .fixed-container
        .spacer-40
        .spacer-60.to-hide-mobile
        .text-center
          h1 Meet  
            strong our team
          .spacer-40.to-hide-mobile
          .profile
            .profile-picture(style='background-image: url("/static/img/thundercampaign-team-frank-manuel-saviane.png");')
              img.mask(src='/static/img/profile-mask.png')
              .overlay
                .overlay-text
                  h3 Frank M. Saviane
                  h4 CEO
          .profile
            .profile-picture(style='background-image: url("/static/img/thundercampaign-team-andrea-colognese.png");')
              img.mask(src='/static/img/profile-mask-3.png')
              .overlay
                .overlay-text
                  h3 Andrea Colognese
                  h4 COO
          .profile
            .profile-picture(style='background-image: url("/static/img/thundercampaign-team-mauro-bolis.png");')
              img.mask(src='/static/img/profile-mask.png')
              .overlay
                .overlay-text
                  h3 Mauro Bolis
                  h4 CTO, Lead Back-end
          .profile
            .profile-picture(style='background-image: url("/static/img/thundercampaign-team-emanuele-brivio.png");')
              img.mask(src='/static/img/profile-mask-3.png')
              .overlay
                .overlay-text
                  h3 Emanuele Brivio
                  h4 Lead Front-end
        .spacer-40
        .spacer-60.to-hide-midsize
  
    section.page.page-white#footer
      .container
        .pull-left
          .spacer-10
          .spacer-5
          img.logo(src='/static/img/thunder-logo.png')
        .pull-right.text-right
            a.sponsor(href='http://www.fastforwardadvisors.com/', target='_blank')
              img.logo(src='/static/img/thundercampaign-partner-fastforward-advisors.png')
            a.sponsor(href='http://www.plasticpanda.com/', target='_blank')
              img.logo(src='/static/img/thundercampaign-partner-plasticpanda.png')
        .clear
        p
          span Copyright 2014 &copy;
          a.link(href='//www.iubenda.com/privacy-policy/955835', target='_blank') Privacy Policy
          span &nbsp;&nbsp;&middot;&nbsp;&nbsp;If you have any inquire, please feel free to contact us at 
          a.link(href='mailto:welcome@thundercampaign.com') welcome@thundercampaign.com
        script.
          (function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "//cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
    
  .mask-signup
  section#signup
    .container
      button.pure-button.pure-button-rounded.close(type='button')
        i.icon-cancel
        span close
      form.pure-form.text-center(action='http://thundercampaign.us8.list-manage.com/subscribe/post?u=d99c1755656dbf46edde51bcf&amp;id=14e385202c', method='post', name='mc-embedded-subscribe-form', target='_blank')
        h1
          strong Sign up 
          | for an early invite
        .spacer-10

        input#email(type='email', name='EMAIL', placeholder='E-mail address', required)
        input(type='hidden' name='b_d99c1755656dbf46edde51bcf_14e385202c' tabindex='-1' value='')
        button.pure-button.pure-button-rounded(type='submit')
          i.icon-paper-plane 
          span Sign up
        .spacer-20
 

//-block scripts
