extends layout

block title
  | Thunder Campaign - Crowdfunding Intelligence

//-block links

block app
  #app
    section.page.page-texture#landing
      .container
        header
          .pull-right
            ul#menu
              li: a(href='#discover') Discover More
              //-li: a(href='#preview') Get a Preview
              li: a(href='#meet') Meet the team
              li: button.pure-button.signup
                span Signup

          img.logo(src='static/img/thunder-logo-white.png')
        
        #claim.fixed-container.text-center
          .spacer-100
          h1
            | Speed up your 
            strong Crowdfunding Campaign
          .spacer-40
          p
            | We provide you with deep insights into how to perfectly structure your crowdfunding campaign, based on 
            br.to-hide
            | the 
            strong big data analysis 
            | of the most successful and unsuccessful crowdfunding campaigns.
          .spacer-40
          p
            button.pure-button.pure-button-rounded.signup
              i.icon-vcard
              span Signup
            | or&nbsp;&nbsp;&nbsp;
            a.link(href='#discover')
              span See what you get with Thunder Campaign »
          .spacer-150

    section.page.page-white#dashboard
      .preview.text-center
        #discover &nbsp;
        img(src='static/img/dashboard-preview-stats.png')
      .spacer-100

    section.page.page-texture#recall
      .container
        .text-center
          p
            button.pure-button.pure-button-rounded.signup
              i.icon-vcard
              span Signup
            //-| to get a preview of Thunder Campaign
            | to keep updated! We will notify you at the launch of the Beta

    section.page.page-white#meet
      .fixed-container
        .spacer-100
        .text-center
          h1 Meet  
            strong our team
          .spacer-40
          .profile
            .profile-picture(style='background-image: url("static/img/thundercampaign-team-frank-manuel-saviane.png");')
              img.mask(src='static/img/profile-mask.png')
              .overlay
                .overlay-text
                  h3 Frank M. Saviane
                  h4 CEO
          .profile
            .profile-picture(style='background-image: url("static/img/thundercampaign-team-andrea-colognese.png");')
              img.mask(src='static/img/profile-mask-3.png')
              .overlay
                .overlay-text
                  h3 Andrea Colognese
                  h4 COO
          .profile
            .profile-picture(style='background-image: url("static/img/thundercampaign-team-mauro-bolis.png");')
              img.mask(src='static/img/profile-mask.png')
              .overlay
                .overlay-text
                  h3 Mauro Bolis
                  h4 CTO, Lead Back-end
          .profile
            .profile-picture(style='background-image: url("static/img/thundercampaign-team-emanuele-brivio.png");')
              img.mask(src='static/img/profile-mask-3.png')
              .overlay
                .overlay-text
                  h3 Emanuele Brivio
                  h4 Lead Front-end
        .spacer-100
  
    section.page.page-white#footer
      .container
        .pull-left
          .spacer-10
          .spacer-5
          p
            img.logo(src='static/img/thunder-logo.png')
            span Copyright 2014 &copy;
            a.link(href='//www.iubenda.com/privacy-policy/955835', target='_blank') Privacy Policy
            span &nbsp;&nbsp;&middot;&nbsp;&nbsp;If you have any inquire, please feel free to contact us at 
            a.link(href='mailto:welcome@thundercampaign.com') welcome@thundercampaign.com
        .pull-right.text-right
          p
            a.sponsor(href='http://www.fastforwardadvisors.com/', target='_blank')
              img.logo(src='static/img/thundercampaign-partner-fastforward-advisors.png')
            a.sponsor(href='http://www.plasticpanda.com/', target='_blank')
              img.logo(src='static/img/thundercampaign-partner-plasticpanda.png')
        script.
          (function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "//cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
    
  .mask-signup
  section#signup
    .container
      button.pure-button.pure-button-rounded.close(type='button')
        i.icon-cancel
        span close
      form.pure-form.text-center(action='http://thundercampaign.us8.list-manage.com/subscribe/post?u=d99c1755656dbf46edde51bcf&amp;id=14e385202c', method='post', name='mc-embedded-subscribe-form', target='_blank')
        h1
          strong Sign up 
          | for an early invite
        .spacer-10

        input#email(type='email', name='EMAIL', placeholder='E-mail address', required)
        input(type='hidden' name='b_d99c1755656dbf46edde51bcf_14e385202c' tabindex='-1' value='')
        button.pure-button.pure-button-rounded(type='submit')
          i.icon-paper-plane 
          span Sign up
        .spacer-20
 

//-block scripts
