doctype html
html
  head
    title
      block title
        | Thunder Campaigns - Crowdfunding Intelligence
    
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/pure/0.5.0/pure-min.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700', type='text/css')
    link(rel='stylesheet', href='/static/css/style.css')
    link(rel='shortcut icon', href='/static/img/favicon.png')
    script(type='text/javascript', src='/static/js/smoothscroll.js')
    block links

  body

    block app

    script(type='text/javascript', src='/static/js/main.js')
    block scripts
